body{
  background-image: url("https://img.freepik.com/premium-photo/abstract-backgound-video-game-esports-scifi-gaming-cyberpunk-vr-virtual-reality-simulation-metaverse-scene-stand-pedestal-stage-3d-illustration-rendering-futuristic-neon-glow-room_42100-3372.jpg");
    margin: 0%;
background-color: brown;
    height: 200%;
   background-size: cover;
   background-repeat: no-repeat;
   
}
 .nav{
    box-shadow: 0 2px 20px rgba(0, 0, 0, 1);
    display: flex;
     background-color: #333333;
     height: 10vh;
     width: 100%;
     align-items: center;
 display: flex;
 transition: background-color 1s ease;
 z-index: 1000;
 }
 .red{

     text-align: center;
     justify-content: center;
     align-items: center;
   height: 10vh;
width: 78pt;
font-size: 16px;
margin-left: 60pt;
color: #fff;
transition: font-size 1.5s ease-in-out;
transition: background-color 1s ease;



 }
 
.text{
    cursor: pointer;
    margin-top: 15px;
    transition: font-size 0.3s ease-in-out;

font-family: 'Arial', sans-serif;
font-weight: bold;

}
.nicetext{
    background-image: linear-gradient(45deg, #FF5733, #FFC300, #FF5733); /* Use a gradient for the mixed color effect */
    -webkit-background-clip: text; /* WebKit browsers */
    background-clip: text; /* Specify the background-clip property as "text" */
    color: transparent; /* Make the text color transparent to show the gradient background */
    font-size: 36px;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    
}


@keyframes fadeIn {
    from {
        opacity: 0; /* Starting opacity */
    }
    to {
        opacity: 1; /* Ending opacity (fully visible) */
    }
}

.container1{
margin: 0 auto 10px;
width: 90%;
}

.images{
    cursor: pointer;
    border: 3px solid #000000;

    height: 250pt;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 3px #888;
    transition: transform 0.5s ease;
}

.imagestext{
    
    justify-content: center;
text-align: center;
    background-color: rgba(0, 0,0, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
   font-size: 20pt;
   font-family: Arial, sans-serif;
   text-shadow: 2px 2px 4px #000;
   font-weight: bold;
    height:22%;
    width: 100%;
    margin-top: 190pt;
    color: #fff;
    clear: both;
    content: "";
    overflow: hidden;
}
.images:hover {
    transform: scale(1.05);
  }
  @keyframes fadeIn {
    0% {
      opacity: 0; /* Start with opacity 0 */
    }
    
    100% {
     opacity: 1; /* End with opacity 1 (fully visible) */
    }
  }
  .margi{
      margin-top: 3%;
  }

  .ending{
     
    display: inline-block;
height: 20%;

width: 100%;
transform: translateX(-50%);
position: relative;

          bottom: 0;
          left: 50%;
background-color: rgba(0, 0, 0, 0.5);
box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);;
  }
  .end-text{
    display: inline-block;
    height: 100%;
    width: 30%;
    
clear: both;
content: "";

  }
  .end-text1{
    
    color: white;font-family: Arial, sans-serif;font-size: 16px;line-height: 1.6;
    
  }
  @keyframes slide-in {
    from {
      bottom: -100px;
    }
    to {
      bottom: 0;
    }
  }

  .gametext{
    color: #ffd700; /* Yellow text color */
    font-size: 22px; /* Font size for the text */
    font-family: Arial, sans-serif; /* Font family for the text */
    font-weight: bold; /* Bold text */
  }
  .ahref{
    text-decoration:inherit; color: inherit;
  }